<section class="search-results mb-4">
    <div class="text-center mb-4">Hittade <%= games.length %> träffar på "<%= searchTerm %>"</div>
    
    <div class="row">

      <% games.forEach(search => { %>

      <div class="container">
        <div class="row border border-2 border-dark mx-2 mb-1 p-2">
          
          <div class="col">
            <div class="name"><h3><%= search.name %> </h3> </div>
            <div class="row">
                <div><%= search.genre %>, <%= search.release_year %></div>
            </div>
            <div class="row">
              <div class="description py-2"><%= search.description %></div>
            </div>
          </div>

          <div class="col-3">
            <img
            src="<%= search.image_url %>"
            alt=""
            class="m-2 "
            />
          </div>

        </div>
      </div>

      <% }) %>
    
    </div>
</section>